body, html{
	margin: 0;
	padding: 0;
}

div.header{
	width: 100%;
	background-color: #3f3f3f;
	background-image: -webkit-linear-gradient(top, #696969 0%,#3f3f3f 100%);
	height: 42px;
	min-width: 980px;
}

div.header-content{
	width: 974px;
	height: 100%;
	margin: 0 auto;
}

div.header-logo{
	width: 50%;
	height: 100%;
	float: left;
}

div.header-links{
	width: 50%;
	height: 100%;
	float: right;
	text-align: right;
}

img.logo{
	margin-top: 7px;
}

div.header-links a{
	color: white;
	text-decoration: none;
	line-height: 42px;
}
div.header-links a.last{
	padding-right: 0px;
}
div.header-links a:hover{
	color: #39C;
}

div.container{
	width: 980px;
	height: 503px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 10px;
	
}
div.container div.main{
    min-width: 805px;
	width: auto;
	margin: 0 auto;
}

div.main div.static-left{
	float: left;
	width: 420px;
	height: 200px;
}

div.static-left h1{
	font-size: 18px;
	color: #39C;
	text-align: left;
	font-weight: bold;
	line-height: 1.55;
	margin-bottom: 15px;
}

div.content-box-1{
	width: 420px;
	float: left;
	height: 33px;
	margin-bottom: 3px;
	
}
div.content-box-2{
    width: 420px;
	float: left;
	height: 38px;
	margin-bottom: 3px;
	
}

div.icon-reconnect{
	background: url('http://localhost/linkedin/images/home_icons.png') no-repeat;
	background-position: 0 3px;
	width: 65px;
	height: 33px;
	float: left;
	
	
}

div.icon-answers{
	background: url('http://localhost/linkedin/images/home_icons.png') no-repeat;
	background-position: 5px -222px;
	width: 65px;
	height: 33px;
	float: left;
	
	
}
div.icon-power{
    background: url('http://localhost/linkedin/images/home_icons.png') no-repeat;
	background-position: 0px -144px;
	width: 65px;
	height: 33px;
	float: left;
	
	
}
span.icon-text{
	display: block;
	float: left;
	width: 355px;
	margin-top: 11px;
	color: #666;
	font-size: 96%;
}
div.main div.form-right{
    float: right;
	width: 320px;
	min-height: 266px;
	margin-bottom: 40px;
}
div.main div.search-browser{
    width: 100%;
	border-top: 1px solid #ccc;
	padding: 20px 0 0;
	clear: both;
	height: 177px;
    
	
}
div.search{
   clear: both;
   text-align: center;
   height: 26px;
}
div.directory{
   border-bottom: 0;
   margin: 15px 0 20px;
   padding-bottom: 0;
   text-align: center;
   font-size: 11px;
   height: 48px;
   
}
div.directory h3{
   display: inline;
   margin: 0;
   padding: 0 0 0 8px;
   color: #666;
   font-weight: normal;
   font-size: 11px;
   line-height: 20px;
   
}
div.directory-links{
   border-right: 0;
   line-height: 1.5;
   margin: 0;
   padding: 0 4px 0 0;
   display: inline;
   font-size: 11px;
  
}
div.directory-links a{
   display: inline;
   color: #069;
   
}
div.directory-links a:hover{
   text-decoration: underline;
   
}
div.directory div.country-search{
   margin-top: 0;
   text-align: center;
   margin: 0 auto;
   width: 960px;
   height: 16px;
   font-size: 11px;
}
div.directory div.country-search h3{
   line-height: 10px;
}
div.link{
  line-height: 1.5;
  margin: 0;
  display: inline;
  font-size: 11px;
}

div.link a{
   display: inline;
   color: #069;
   
}
div.link a:hover{
  text-decoration: underline;
}
div.agreement{
   text-align: left;
   font-size: 82%;
   color: #666;
   border-top: 1px solid #ccc;
   padding: 20px 0 10px;
   
}
div.agreement-links{
   margin: 0;
   display: inline;
   font-size: 11px;
}
div.agreement-links a{
   display: inline;
   color: #069;
}
div.agreement-links a:hover{
  text-decoration: underline;
}

div.footer{
    width: 974px;
    height: 95px;
    margin: 0 auto;
    padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #ccc;
}

div.footer-content{
    width: 974px;
	height: 25px;
	font-size: 13px;
	line-height: 17px;
	font-weight: normal;
	
	
}

div.footer-links a{
    border-right: 1px solid #ccc;
    margin-bottom: 3px;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	float: left;
	color: #069;
	text-decoration: none;
}
div.footer-links a:hover{
    text-decoration: underline;
}
div.copyright{
    border-right: 1px solid #ccc;
	margin-right: 8px;
	padding-right: 8px;
	margin-top: 5px;
	float: left;
	
}
div.copyright-logo {
    float: left;
	height: 16px;
	width: 62px;
	text-align: left;
	margin-left: 0px;
	margin-right: 3px;
	margin-top: -2px;
	margin-bottom: -2px;
	background: url('http://localhost/linkedin/images/copyright.png') no-repeat;
}

/* NEW CSS ADDED */

div.search-content{
	width: 605px;
	margin: 0 auto;
	height: 100%;
}

div.search-content h3{
	color: #666;
	font-size: 16px;
	margin: 0;
	line-height: 26px;
	display: inline;
	float: left;
}

div.search-content form input{
	margin-left: 10px;
	height: 26px;
	width: 150px;
}

div.search-content form button{
	height: 24px;
	padding: 0 10px;
}

div.form-header{
	width: 100%;
	height: 26px;
	background: #4393BB;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #73b8db), color-stop(100%, #4393bb));
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

div.form-header h2{
	color: white;
	margin: 0;
	margin-left: 10px;
	font-size: 15px;
	line-height: 26px;
}

div.form-box{
	min-height: 224px;
	width: 298px;
	padding: 10px 10px 5px;
	border: solid;
	border-top: none;
	border-width: 1px;
	border-color: #DDD;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

div.field-wrapper{
	width: 100%;
	min-height: 29px;
	margin-bottom: 8px;
}

div.field-wrapper-password{
	min-height: 45px;
}

div.field-wrapper-password p{
	color: #666;
	font-size: 11px;
	float: left;
    margin-left: 110px;

}

form.reg-form label{
	display: block;
	float: left;
	width: 100px;
	text-align: right;
	line-height: 29px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	margin-right: 10px;
	margin-bottom: 0px;
}

form.reg-form input{
	margin: 3px 7px 0 0;
	width: 175px;
}

form.reg-form button{
	height: 23px;
	width: 74px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	margin-left: 110px;
}

span.asterik{
	font-size: 16px;
}

p.already-on-linkedin-message{
	font-size: 11px;
	margin-top: 5px;
	margin-left: 110px;
}

div.header-links .link-wrapper{
	float: right;
	padding: 0px 7.5px;
}

div.header-links .link-wrapper:active{
	background: black;
}

div.myerrorbar{
	padding: 5px;
	display: none;
}

img.error-icon{
	width: 25px;
}

span.error-text{
	color: black;
	font-weight: bold;
	margin-left: 8px;
}

div.field-error{
	width: 175px;
	padding-left: 110px;
}

span.form-error-text{
	color: #900;
	font-weight: bold;
	font-size: 12px;
	width: 175px;
	display: none;
}

/* Sign IN Page */

div.signin-main{
    margin-left: auto;
    margin-right: auto;
    width: 974px;
    height: 220px;
    margin-top: 40px;
    margin-bottom: 10px;
}

div.signin-page-title{

	width: 954px;
	height: 24px;
	
}

div.signin-page-title h1{

	font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}

div.signin-wrapper{
    width: 954px;
    height: 181px;
    padding: 0 10px;
}

div.signin-box{
   width: 470px;
   height: 111px;
   background: white;
   margin: 0 auto;
   padding: 30px 20px 30px 20px;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
   -webkit-border-radius: 5px;
   border-radius: 5px;

}





.signin-form{
	height: 110px;
}

.signin-form div.field-wrapper{
	width: 100%;
	min-height: 29px;
	margin-bottom: 8px;
}

.signin-form div.field-wrapper-password p{
	color: #666;
	font-size: 11px;
}

form.signin-form label{
	display: block;
	float: left;
	width: 118px;
	text-align: right;
	line-height: 29px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	margin-right: 10px;
	margin-bottom: 0px;
}

form.signin-form input{
	margin: 3px 7px 0 0;
	width: 224px;
	height: 25px;
	border-radius: 0px;
}

form.signin-form button{
	height: 23px;
	width: 74px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	margin-left: 127px;
}

form.signin-form div.field-error{
	width: 342px;
	padding-left: 127px;
}

.forgot-password-link{
	font-size: 11px;
}


/* join Page */

div.join-main{
    margin-left: auto;
    margin-right: auto;
    width: 807px;
    height: 421px;
    margin-top: 40px;
    margin-bottom: 10px;
    background: white;
    padding: 30px 20px 30px 20px;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
   -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

div.join-page-title{

	width: 954px;
	height: 24px;
	
}

div.join-page-title h1{

	font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}



div.join-box{
   width: 450px;
    height: 234px;  
    margin-top: 20px;
    margin-bottom: 20px;  
    border-right: 1px solid #ccc;
   

}


.join-form{
	height: 199px;
}


form.join-form label{
	display: block;
	float: left;
	width: 97px;
	text-align: right;
	line-height: 29px;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	margin-right: 10px;
	margin-bottom: 0px;
}

form.join-form input{
	margin: 3px 7px 0 0;
	width: 275px;
}

form.join-form button{
	height: 23px;
	width: 74px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	margin-left: 110px;
}

.join-form div.field-wrapper{
	width: 100%;
	min-height: 29px;
	margin-bottom: 8px;
}

.join-form div.field-wrapper-password p{
	color: #666;
	font-size: 11px;
}

.join-form div.field-wrapper-password {
	width:100%;
	height:38px;
}


#actions{
	height: 23px;
	width: 215px;
	
}

form.join-form div.field-error{
	width: 342px;
	padding-left: 127px;
}

.forgot-password-link{
	font-size: 11px;
}

#extra{
	
	float: right;
	height: 124px;
	width: 325px;
	
}



/*change pw*/

div.pw-main{
    margin-left: auto;
    margin-right: auto;
    width: 974px;
    height: 130px;
    margin-top: 40px;
    margin-bottom: 0px;
}

div.pw-page-title{

	width: 954px;
	height: 24px;
	
}

div.pw-page-title h1{

	font-size: 18px;
   
    line-height: 24px;
    color: #000;
}





form.pw-form label{
	display: block;
	float: left;	
	text-align: right;
	line-height: 29px;
	font-size: 13px;
	
	color: #333;
	margin-right: 10px;
	margin-bottom: 0px;
}

form.pw-form input{
	margin: 3px 7px 0 0;
	width: 304px;
	height: 22px;
	border-radius: 0px;
}

form.pw-form button{
	height: 23px;
	width: 74px;
	padding: 0;
	font-weight: bold;
	font-size: 12px;
	margin-left: 0px;
}

form.pw-form div.field-error{
	width: 342px;
	padding-left: 0px;
}


