<html>
	<head>
		<title>Sign In|LinkedIn</title>
		<meta name="description" content="This is our test page." />
		
		<link rel="icon" type="image/png" href="img/favicon.png" />
		
		<!-- JQUERY -->
		<script type="text/javascript" src="js/jquery.js"></script>
		
		<!-- Boostrap files -->
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Custom JS Files -->
		<script type="text/javascript" src="js/home.js"></script>

		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body>
        
		<div class="header">
			<div class="header-content">
				<div class="header-logo">
					<img class="logo" src="img/logo.png" />
				</div>
				
				<div class="header-links">
					<a href="signup.html">
						<div class="link-wrapper">Sign In</div>
					</a>
					<a href="join_today.html">
						<div class="link-wrapper">Join Today</div>
					</a>
					<a href="what_is_linkedin.html">
						<div class="link-wrapper">What is LinkedIn?</div>
					</a>
				</div>
			</div>
		</div>

        <div class="signin-main">
        	
        	<div class="signin-page-title">
                <h1>Sign in to LinkedIn</h1>

        	</div>
        	<div class="signin-wrapper">
        		<div class="signin-box">
        			<form id="signin-form" class="signin-form"  method="post" action="asd.php">
						<div class="field-wrapper">
							<label for="email-reg">Email: </label>
							<div class="field-error">
								<span id="email-reg-error" class="form-error-text"></span>
							    <input type="text" id="email-reg" name="email" />
							</div>    
						</div>
						<div class="field-wrapper">
							<label for="pwd-reg">Password: </label>
							<div class="field-wrapper">
								<span id="pwd-reg-error" class="form-error-text"></span>
							    <input type="password" id="pwd-reg" name="password" />
							    <a href="forgot_password.html" class="forgot-password-link">Forgot password?</a>
							</div>    
						</div>
						
						<button type="submit" class="btn btn-primary">Sign In</button> <span class="join-linkedlin-link"> or <a href="join_today.html">Join LinkedIn</span>
					</form>
        		</div>
        	</div>

        	
        </div>	

        <div class="footer">
           <div class="footer-content">
		        <div class="copyright">
		            <div class="copyright-logo">
			        </div>
		        </div>
				<div class="footer-links">
			     <a href="what_is_linkedin.html">User Agreement</a>
				 <a href="what_is_linkedin.html">Privacy Policy</a>
				 <a href="what_is_linkedin.html">Community Guidelines</a>
				 <a href="what_is_linkedin.html">Cookie Policy</a>
				 <a href="what_is_linkedin.html">Copyright Policy</a>
				 
				 
			   </div>
				 
		    </div>
		</div>

	</body>
</html>		